In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
sns.set(style='whitegrid')
sns.set_palette('bright')
import warnings
warnings.filterwarnings('ignore')
from scipy import fftpack

In [9]:
q1 = pd.read_csv(f'data/2020q1.csv')
q2 = pd.read_csv(f'data/2020q2.csv')
q3 = pd.read_csv(f'data/2020q3.csv')
q4 = pd.read_csv(f'data/2020q4.csv')

In [16]:
q = pd.concat([q1,q2,q3,q4])
q = q[q.Country == 'IN']
q.Date = pd.to_datetime(q.Date, format = '%Y-%m-%d')
q

,Date,Country,City,Specie,count,min,max,median,variance
183878,2020-01-05,IN,Thrissur,so2,19,1.0,26.0,9.7,478.04
183879,2020-01-28,IN,Thrissur,so2,22,0.1,5.3,3.5,23.26
183880,2020-02-20,IN,Thrissur,so2,24,0.2,25.7,2.4,238.49
183881,2020-03-10,IN,Thrissur,so2,24,2.6,4.9,3.1,5.58
183882,2020-03-13,IN,Thrissur,so2,24,1.8,4.1,2.7,3.63
...,...,...,...,...,...,...,...,...,...
133458,2020-11-20,IN,Kolkata,humidity,260,52.0,99.1,78.0,2236.17
133459,2020-09-29,IN,Kolkata,humidity,214,57.5,99.0,89.0,1453.01
133460,2020-10-29,IN,Kolkata,humidity,264,50.8,96.3,75.1,1423.20
133461,2020-11-29,IN,Kolkata,humidity,264,30.5,98.9,66.5,3667.41
133462,2020-12-25,IN,Kolkata,humidity,264,32.5,99.7,74.0,4542.17

In [20]:
city = ['Delhi','Chennai','Mumbai','Bengaluru','Hyderabad','Kolkata']
q = q[q.City.isin(city)]
q.to_csv('2020_allyear.csv')